<!-- Will Everett -->


<h1><%=@student[:name]%>				</h1>
<h2><%=@student[:city]%>				</h2>
<h3><%=@student[:description]%>	</h3>

<img src="https://scontent-b-dfw.xx.fbcdn.net/hphotos-frc3/1075290_10201606711633640_1377686348_n.jpg">

