<h1> All ConnectedIn Profiles </h1>

<ul>
	<% @profile_all.each do |profile| %>
	<li>username:		<%= link_to profile.username, profile_url(profile.id) %></li>
	<li>first name: <%= profile.first_name %></li>
	<hr>
	<% end %>
</ul>
