<h1> 4 peeps from MakerSquare </h1>


<h1>	     Name: <%= @profiles[:name] %></h1> 
<h2>			 City: <%= @profiles[:city] %></h2>
<h3>Description: <%= @profiles[:description] %></h3>
<hr>
			<img src = <%= @profiles[:picture_url] %>>
<hr>
