<!-- Joe Marshall -->


<h1><%=@student[:name]%>				</h1>
<h2><%=@student[:city]%>				</h2>
<h3><%=@student[:description]%>	</h3>

<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/1045186_10151572265288791_1936955603_n.jpg">

