<!-- Drew Montgomery -->


<h1><%=@student[:name]%>				</h1>
<h2><%=@student[:city]%>				</h2>
<h3><%=@student[:description]%>	</h3>

<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/c28.28.357.357/s200x200/1240490_1398603777033311_1574409816_n.jpg"">

