

<h1> 4 peeps of MakerSquare </h1>

<ul> 
	<li><%= link_to "Harsh Patel", 					 harsh_friends_path  		%> 
  <li><%= link_to "Drew Montgomery",			  drew_friends_path			%> 
  <li><%= link_to "Joe Marshall",					   joe_friends_path  		%> 
  <li><%= link_to "Will Leverett",				  will_friends_path  		%> 
</ul>



